<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Flask Example</title>
  </head>
  <body>
    {% if name %}
    <h1>Hello, {{name}}!</h1>
    {% endif %}
    <form class="pure-form" method="POST" action="">
      <input type="text" class="pure-input-rounded" name="name" id="name" >
      <button type="submit" class="pure-button" name="submit" value="Submit"> Submit </button>
    </form>
  </body>
</html>
