<!DOCTYPE HTML>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Generate Calendar</title>
   <style>
    .centered {width: 50em; max-width:90%; padding:10px; margin: 0 auto;}
    ul{list-style-position: outside;}
    body{background-color: white;}
    .error{color:red;}
   </style>
  </head>
  <body>
      <div class="centered">
      <h2>Disclaimer!</h2>
      <ul>
	<li>This app is not official or from The Region of Peel</li>
	<li>No data is saved, I can't afford it really</li>
	<li>This is really hacky, so use it while Peel Region allows it</li>
      </ul>
      <br/>
      <p>
	This page lets you download this year's waste collection schedule in your area as an i-Cal file
      </p>
      <p>
	To use the service go to <a target="_blank" href="http://www.peelregion.ca/waste-scripts/when-does-it-go/">Peel regions website</a> first
	get the "referrer" url, which can be obtained after typing your address and submitting it, I
	mean copy paste the damn thing from your browser tab after. Paste that url down here. Click
	and wait for the i-Cal file to be downloaded.
      </p>
      <br/>
      <form class="pure-form" method="POST" action="">
	<label for="url">Referrer url:</label>
	<input type="text" class="pure-input-rounded" id="url" name="url">
	<button type="submit" class="pure-button" name="submit" value="Submit"> Get i-Cal file! </button>
      </form>
      {% if error %}
      <p class="error"> {{error}} </p>
      {% endif %}
      <p>
      Import the Waste disposal calendar.ics into your calendar. I suggest
      creating new calendar anywhere because loaded file cannot be unloaded but the new calendar
      can be deleted.
      </p>
      <br/>
      <a href="mailto:justinjoseph0007@gmail.com">Give me feedback!</a> <br/>
      <a href="https://github.com/justinjk007/Peel-Region-Waste-Cal"> Source code </a> <br/>
      <a href="https://www.paypal.me/justinjk007?locale.x=en_US"> Buy me coffee? </a>
    </div>
  </body>
</html>
